tr td {
    padding: 0 !important;
    margin: 0 !important;
}

th {
    padding: 0 !important;
    margin: 0 !important;    
}

a {
    padding: 0 !important;
    margin: 0 !important;    
}

h1 {
    padding: 0 !important;
    margin: 0 !important;    
}