{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main_content %}	
	<table class="table">
		<thead>
		<tr>
			<th scope="col">Group</th>
			<th scope="col">Category</th>
			<th scope="col">Spent</th>
			<th scope="col">Budget</th>
		</tr>
		</thead>	
		<tbody>
			{% for budget_item in budget_list %}
			<tr>
				<td>{{budget_item.0.group.name}}</td> <!-- Category Budget Object-->
				<td>{{budget_item.0.name}}</td> <!-- Category Object -->
				<td>{{budget_item.1.amount__sum|floatformat:"2"|default:"0.00"}}</td>
				<td>{{budget_item.2.amount}}</td> <!-- CategoryBudget Object -->
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<h5>Not Budgeted Transactions</h5>
	<table class="table">
		<thead>
		<tr>
			<th scope="col">Date</th>
			<th scope="col">Description</th>
			<th scope="col">Amount</th>
			<th scope="col">Category</th>
		</tr>
		</thead>	
		<tbody>
			{% for no_budget_item in no_budget_list %}
			<tr>
				<td>{{no_budget_item.date}}</td>
				<td>{{no_budget_item.description}}</td>
				<td>{{no_budget_item.amount}}</td>
				<td>{{no_budget_item.category}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	
	

{% endblock %}

