{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main_content %}
	<h1>Budget by Category for {{month|date:"F"}}</h1>
	<table>
		<tr>
			<td>Category</td>
			<td>Spent</td>
			<td>Budget</td>
			<td>Scheduled</td>
		</tr>
		
		{% for bycategory in bycategory_list %}
		<tr>
			<td>{{bycategory.0}}</td>
			<td>{{bycategory.1.amount__sum|floatformat:"2"|default:"0.00"}}</td>
			<td>{{bycategory.2}}</td>
			<td>{{bycategory.3.transaction__amount__sum|floatformat:"2"|default:"0.00"}}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}


