{% extends "base.html" %}

{% block main_content %}
	
<!-- 
	{% if show_all %}
		<a class="nav-link" href="{% url 'budget-list' %}"">Budgeted Only</a>
	{% else %}
		<a class="nav-link" href="{% url 'budget-list' %}?option=showall"">Show All</a>	
	{% endif %}
 -->
	<table class="table table-sm">
		<thead>
		<tr class="table-primary">
			<th scope="col">Group</th>
			<th scope="col">Category</th>
			<th scope="col">Spent</th>
			{% for m in month_list %}
				<th scope="col">{{m|date:"M"}}</th>
			{% endfor %}
		</tr>
		</thead>	
		<tbody>

		{% for group in budget_list %}
			<tr class="table-secondary">
				<td colspan='2'>
					<a class="nav-link" href="{% url 'category-group-update' group.0.0.pk %}">
					{{group.0.0.name}}</a>
				</td>
				<td>{{group.0.1|floatformat:"2"}}</td><!-- Spent -->
				<td><a class="nav-link" href="{% url 'specificbudget-form' group.0.0.pk None month_list.0.month month_list.0.year %}">
					{{group.0.2|floatformat:"2"}}<!-- Left in Month -->
				</a></td>
				{% if group.0.3 %} <!-- Budget for rest of Months -->
					{% for b in group.0.3 %}
					<td>
						<a class="nav-link" href="{% url 'specificbudget-form' group.0.0.pk None b.0.month b.0.year %}">
						{{b.1|floatformat:"2"}}{{b.2}}</a>
					</td>
					{% endfor %}
				{% else %}
					<td colspan='11'></td>
				{% endif %}
			<tr>
			{% for cat in group.1 %}
			<tr>
				<td></td>
				<td>
					<a class="nav-link" href="{% url 'category-update' cat.0.pk %}">
					{{cat.0.name}}</a>
				</td>
				<td>{{cat.1|floatformat:"2"}}</td><!-- Spent -->
				<td><a class="nav-link" href="{% url 'specificbudget-form' None cat.0.pk month_list.0.month month_list.0.year %}">
					{{cat.2|floatformat:"2"}}<!-- Left in Month -->
				</a></td>
				{% if cat.3 %} <!-- Budget for rest of Months -->
					{% for b in cat.3 %}
					<td>
						<a class="nav-link" href="{% url 'specificbudget-form' None cat.0.pk b.0.month b.0.year %}">
						{{b.1|floatformat:"2"}}{{b.2}}</a>
					</td>
					{% endfor %}
				{% endif %}
			<tr>
			{% endfor %} <!-- End for Categories -->
			
		{% endfor %} <!-- End for Group -->

		</tbody>
	</table>
{% endblock %}

