{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main_content %}
	{% if category %}
		<h1>Create Envelope for {{category}}</h1>
	{% else %}
		<h1>Create Envelope for {{group}}</h1>
	{% endif %}

	<form method="post">{% csrf_token %}
		{% if category %}
			<p>
				Category
				<input class="form-control" type="text" placeholder="{{category.name}}" readonly>
			</p>
			<p>
				Category Group
				<input class="form-control" type="text" placeholder="{{group.name}}" readonly>
			</p>
		{% else %}
			<p>
				Category Group
				<input class="form-control" type="text" placeholder="{{group.name}}" readonly>
			</p>
		{% endif %}
		{{ form | crispy }}
   	 <input type="submit" value="Create">
	</form>
{% endblock %}


