{% extends "base.html" %}

{% block main_content %}
	<h1>Envelopes in 
		{% if prev %}
			<a href="{% url 'envelope-list' prev.year prev.month %}"><svg width="1em" height="1em" viewBox="0 1 16 16" class="bi bi-caret-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg></a>
		{% endif %}
		{{view_date|date:"F"}}
		{% if next %}
				<a href="{% url 'envelope-list' next.year next.month %}"><svg width="1em" height="1em" viewBox="0 1 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg></a>	
		{% endif %}
	</h1>

	<table class="table">
		<!-- Income -->	
		<tr class="table-primary">
			<td scope="col" colspan='2'>Income</td>
			<td scope="col">Earned</td>
			<td scope="col">To Earn</td>
			<td scope="col">Envelope</td>
			<td scope="col">Last Month</td>
		</tr>
		<tr>
			<td colspan="2">{{income_list.0.name}}</td>
			<td>{{income_list.1|floatformat:"2"|default:"0.00"}}</td>
			<td>{{income_list.2|floatformat:"2"}}</td>
			{% if income_list.3.pk %}
				<td><a class="nav-link" href="{% url 'envelope-update' income_list.3.pk %}">
					{{income_list.3.amount|floatformat:"2"}}
				</td></a>
			{% else %}
				<td><a class="nav-link" href="{% url 'envelope-create' None income_list.0.pk %}">
					&emsp;+
				</td></a>
			{% endif %}
			<td>{{income_list.3.carryover|floatformat:"2"}}</td>
		</tr>
		<!-- End of Income -->
		<!-- Categories -->	
		<tr class="table-primary">
			<td scope="col">Group</td>
			<td scope="col">Category</td>
			<td scope="col">Spent</td>
			<td scope="col">Budget</td>
			<td scope="col">Envelope</td>
			<td scope="col">Last Month</td>
		</tr>
		{% for group in spent_list %}
			<tr class="table-secondary">
				<td colspan='2'>{{group.0.0.name}}</td>
				<td>{{group.0.1|floatformat:"2"|default:"0.00"}}</td>
				<td>{{group.0.2|floatformat:"2"}}</td>
				{% if group.0.3.pk %}
					<td><a class="nav-link" href="{% url 'envelope-update' group.0.3.pk %}">
						{{group.0.3.amount|floatformat:"2"}}
					</td></a>
				{% else %}
					<td><a class="nav-link" href="{% url 'envelope-create' group.0.0.pk None %}">
						&emsp;+
					</td></a>
				{% endif %}
				<td>{{group.0.3.carryover|floatformat:"2"}}</td>
			</tr>
			{% for cat in group.1 %}
				<tr>
					<td></td>
					<td>{{cat.0.name}}</td>
					<td>{{cat.1|floatformat:"2"|default:"0.00"}}</td>
					<td>{{cat.2|floatformat:"2"}}</td>
					{% if cat.3.pk %}
					<td><a class="nav-link" href="{% url 'envelope-update' cat.3.pk %}">
						{{cat.3.amount|floatformat:"2"}}
					</td></a>
					{% else %}
					<td><a class="nav-link" href="{% url 'envelope-create' None cat.0.pk %}">
						&emsp;+
					</td></a>
					{% endif %}
					<td>{{cat.3.carryover|floatformat:"2"}}</td>
				</tr>
			{% endfor %}
		{% endfor %}
		<!-- End of Categories -->
		<tr class="table-primary">
			<td scope="col" colspan='2'>Total</td>
			<td>{{total.0|floatformat:"2"}}</td>
			<td>{{total.1|floatformat:"2"}}</td>
			<td>{{total.2|floatformat:"2"}}</td>
		</tr>
	</table>	


{% endblock %}

