{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main_content %}
	<h1>Forecast</h1>
	<table class="table">


		
	<table class="table">
		<!-- Account -->	
		<tr class="table-primary">
			<td colspan='2'>Bank Account</td>
			<td>Balance</td>
			{% for month in month_list %}
				<td>{{month|date:"M"}}</td>
			{% endfor %}
		</tr>
		<tr>
			<td colspan="2">{{account.name}}</td>
			<td>{{account.balance|floatformat:"2"}}</td>
			{% for b in balance %}
				<td>{{b|floatformat:"2"}}</td>
			{% endfor %}	
		</tr>
		<!-- End of Account -->	
		<!-- Income -->	
		<tr class="table-primary">
			<td colspan='2'>Income</td>
			<td>To Earn</td>
			{% for month in month_list %}
				<td>{{month|date:"M"}}</td>
			{% endfor %}
		</tr>
		<tr>
			<td colspan="2">{{income_list.0}}</td>
			<td>{{income_list.1|floatformat:"2"}}</td>		
				{% for income in income_list.2 %}
					<td>{{income|floatformat:"2"}}</td>
				{% endfor %}		
		</tr>
		<!-- End of Income -->
		<!-- Credit Cards-->	
		<tr class="table-primary">
			<td colspan='2'>Credit Cards</td>
			<td>Balance</td>
			<td colspan="100"></td>
		</tr>
		{% for credit_card in credit_cards %}
		<tr>
			<td colspan="2">{{credit_card.name}}</td>
			<td>{{credit_card.balance|floatformat:"2"}}</td>		
			<td colspan="100"></td>
		</tr>
		{% endfor %}

		<!-- End of Credit Cards -->
		<!-- Categories -->	
		<tr class="table-primary">
			<td scope="col">Group</td>
			<td scope="col">Category</td>
			<td scope="col">To Spend</td>
			{% for month in month_list %}
				<td scope="col">{{month|date:"M"}}</td>
			{% endfor %}
		</tr>
		{% for group, categories in full_list %}
		<tr class="table-secondary">
			<td colspan="2">{{group.0}}</td>
			<td>{{group.1|floatformat:"2"}}</td>		
				{% for forecast in group.2 %}
					<td>{{forecast|floatformat:"2"}}</td>
				{% endfor %}	
		</tr>
			{% for cat in categories %}
				<tr>
					<td></td>
					<td>{{cat.0}}</td>
					<td>{{cat.1|floatformat:"2"}}</td>		
						{% for forecast in cat.2 %}
							<td>{{forecast|floatformat:"2"}}</td>
						{% endfor %}	
				</tr>
			{% endfor %}
		{% endfor %}	
		<tr class="table-primary">
			<td colspan="2">Total</td>		
			{% for t in total %}
				<td>{{t|floatformat:"2"}}</td>
			{% endfor %}	
		</tr>
	</table>	

{% endblock %}
