{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main_content %}
		<table class="table">
			<thead>
			<tr>
				<th scope="col">Scheduled Dates</th>
				<th scope="col">Description</th>
				<th scope="col">Amount</th>
				<th scope="col">Category</th>
				<th scope="col">Repeat Every</th>
			</tr>
			</thead>
			<tbody>			
				{% for s_t in scheduled_list %}
				<tr>
					<td>{{s_t.scheduled_date|date:"N j"}}</td>
					<td>{{s_t.description}}</td>
					<td>{{s_t.amount}}</td>
					<td>{{s_t.category}}</td>
					<td>{{s_t.repeat_every}}
				<tr>	
				{% endfor %}
			</tbody>
		</table>
{% endblock %}
