{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main_content %}

	<table class="table">
		<thead>
		<tr>
			<th scope="col">Group</th>
			<th scope="col">Category</th>
			<th scope="col">Amount</th>
			<th scope="col">Budget</th>
		</tr>
		</thead>
		<tbody>			
			{% for group in spending_list %}
				<tr class="table-primary">
					<td colspan='2'>{{group.0.name}}</td>
					<td>{{group.1.amount__sum|floatformat:"2"|default:"0.00"}}</td>
					<td>{{group.0.budget}}</td>
				</tr>							
				{% for cat in group.2 %}
					{% if cat.2 %}
						<tr class="table-secondary">
							<td></td>
							<td>{{cat.0.name}}</td>
							<td>{{cat.1.amount__sum|floatformat:"2"|default:"0.00"}}</td>
							<td>{{cat.0.budget}}</td>
						</tr>
						<tr>
							{% for tran in cat.2 %}
							<tr>
								<td>{{tran.date}}</td>
								<td>{{tran.description}}</td>
								<td>{{tran.amount}}</td>
								<td><a class="nav-link" href="{% url 'transaction-update' tran.pk %}?next={{request.path|urlencode}}"">Edit</td></a>
								<td></td>
							</tr>
							{% endfor %}
						</tr>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
